#Dod{
    height: auto;
    margin: auto;
}

.Event {
    font-size: 15px;
    height: auto;
    width: 155px;
    margin: auto;
    padding: 15px 15px 15px 15px;
}
#DOF {
    font-size: 16px;
    height: auto;
    padding: 15px 15px 15px 15px;
}


.OTR {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.OT {
    border-top: 1px solid;
    border-bottom: 1px solid;
}


#modul, #antal-pladser, #frie-pladser, #startdato, #synlighed{
    margin-bottom: 10px;
}
