header{
    /*background-color: #000000;
    border-style: solid;*/
    text-align: center;
}

section{
    /*border-style: solid;*/
    text-align: center;
    height: 26.5vh;
    
}

article{
    text-align: center;
    position: relative;
    /*margin-left: 19%;*/
    /*background-color: red;*/
    z-index: 0;
}

a:hover{
    border-bottom:3px solid rgb(70, 70, 70);
}

body{
    margin: 0;
}

.m{
    border-style: solid;
    width: calc(100% * (1/4) - 10px - 1px)
}
div.m:hover{
    background-color: blue;
}
.container{
    margin-left: -250px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 40vh;
    position: absolute;
}

a.navigation-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

#right { 
    /*border-style: solid;*/
    
    float: right;
    height: 87vh;
    min-width: 150px;
    background-color: gray;
    position: relative;
    z-index: 1;

}
#left {
    /*border-style: solid;*/
    width: 20vh; float: left;
    height: 87vh;
    min-width: 150px;
    background-color: gray;
    position: absolute;
    z-index: 1;
}

aside{
    width:100vh;
    border-style: solid;
}
