



html, body{
    border: 0px solid lightcoral;
    margin: 0;
    height: 100%;
    
    overflow: hidden;
    
}

fieldset{
    border: 0px solid lightcoral;
}



/**{
    border: 1px solid lightcoral;
}
/*
.dropbtn:hover{
    border: solid 1px #000;
}
.dropbtn:hover:after{
    content: attr(data-hover);
    background: rgb(190, 190, 190);
}
*/

.dropbtn {cursor: pointer;}


.container{
    /*text-align: center;*/
    display: flex;
    flex-direction: row;
    
}

#logo, #logout{
    flex-basis: 5%;
}

#navigation{
    flex-basis: 20%;
    display: inline-flex;
    margin: 0 auto;
}

ul{ list-style-type: none;  padding-left: 0;}

nav{
    color: white;
}

li{
    /*overflow: hidden;*/
    white-space: nowrap;
}


.menu{
    width: 95%;
}

#search{
    width: 70%;
}

header{
    background-color: gray;
    /*height: 5%;*/
    height: 50px;
    padding-top: 25px;

}

main {

  /*  background-color: lightblue; */
    /*display:block; */
    
    display: flex;
    flex-direction: row;
    /*height: calc(100% - 150px);*/
    height: 100%;
}

#left, #right {
    background-color: lightgray; 
    flex-basis: 15%;
    min-width: 180px;
    height: calc(100% - 75px);
}
#content{
   /* background-color: lightgoldenrodyellow; */
    flex-basis: 85%;
    text-align: center;
    height: inherit;
}

footer{
    background-color: gray;
    padding-top: 25px;
    /*height: 10%;*/
    z-index: 1;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    display: none;
}

.m{
    border-style: solid;
    width: calc(100% * (1/4) - 10px - 1px)
}
div.m:hover{
    background-color: blue;
}
.kalender{  
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
}

a.navigation-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

.showCalendar {
    height: 100%;
    width: 100%;
}




















/* Dropdown Button */
.dropbtn {
    position: relative;
    min-width: 167px;
}
/*
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}*/

/* The container <div> - needed to position the dropdown content */
#dropdown, #dropdown2, #dropdown3 {
    position: relative;
    /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    text-align: left;
    width: 15%;
    background-color: #f1f1f1;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    padding: 0; margin: 0;
    margin-left: 1px;
    
}
.dropdown-content2 { 
    text-align: left;
    width: 15%;
    background-color: #f1f1f1;
    min-width: 159px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}
.dropdown-content3 {
    text-align: left;
    width: 15%;
    background-color: #f1f1f1;
    min-width: 159px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
#dropdown:hover .dropdown-content   {display: block;}
#dropdown2:hover .dropdown-content   {display: block;}
#dropdown3:hover .dropdown-content   {display: block;}


/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: #3e8e41;}*/










/* Modal Header */
.modal-header {
    padding: 2px 16px;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}




/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    min-width: 400px;
    width: 40%; /* Could be more or less, depending on screen size */

}
.logaf-modal {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    min-width: 300px;
    width: 10%; /* Could be more or less, depending on screen size */
}

.lokaloversigt-modal{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




















#Dod{
    height: auto;
    margin: auto;
}

.Event {
    font-size: 16px;
    height: auto;
    width: 340px;
    margin: auto;
    padding: 15px 15px 20px 15px;
}
.Eventbd {
    font-size: 16px;
    height: auto;
    width: 250px;
    margin: auto;
    padding: 15px 15px 20px 15px;
}
#DOF {
    font-size: 16px;
    height: auto;
    padding: 15px 15px 15px 15px;
}


.OTR {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.OT {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#modul, #antal-pladser, #frie-pladser, #startdato, #startdatobd {
margin: 5px 0px 10px 0px;
width: 155px;
height: 20px;
}


#modul {
    margin-left: 75px;

}
#antal-pladser {
    margin-left: 11px;

}
#frie-pladser {
    margin-left: 52px;

}
#startdato {
    margin-left: 105px;

}
#synlighed {
    margin: 5px 0px 20px 14px;

}
#startdatobd {
    margin-left: 20px;
}
#slutdatobd {
    margin: 10px 0px 20px 22px;
    width: 155px;
    height: 20px;
}
.Udgiv {
    font-weight: bold;   
    margin-left: 80%;

}
.Udgivbd {
    font-weight: bold;   
    margin-left: 75%;

}









#elever {
    border-collapse: collapse;
    width: 100%;
}

#elever td, #elever th {
    border: 1px solid #ddd;
    padding: 5px;
}

#elever tr:hover {
    background-color: #ddd;
}

#elever th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(20, 20, 20);
    color: white;
}

.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 25%;
}

.dropdown .dropbtn {
    font-size: 15px;  
    border: none;
    outline: none;
    color: black;
    background-color: inherit;

}

.dropdown-content4 {
    display: none;
    position: relative;
    background-color: white;
    width: auto;
    height: auto;
    z-index: 1;
}

.dropdown-content4 .header {
    background: rgb(255, 255, 255);
    color: black;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.show {display: block;}