html, body{
    border: 0px solid lightcoral;
    margin: 0;
    height: 100%;
    
    overflow: hidden;
    
}

fieldset{
    border: 0px solid lightcoral;
}

/**{
    border: 1px solid lightcoral;
}*/

p, h1, h2, h3{
    
}



.container{
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

#logo, #logout{
    flex-basis: 5%;
}

#navigation{
    flex-basis: 20%;
    display: inline-flex;
    margin: 0 auto;
}

ul{ list-style-type: none;  padding-left: 0;}

nav{
    color: white;
}

li{
    overflow: hidden;
    white-space: nowrap;
}

input[type="text"], input[type="date"]{
    width: 80%;
}

header{
    background-color: gray;
    height: 5%;
    min-height: 25px;
    padding-top: 25px;

}
main {

  /*  background-color: lightblue; */
    /*display:block; */
    
    display: flex;
    flex-direction: row;
    height: 85%;
    
    
}

#left, #right {
    background-color: lightgray; 
    flex-basis: 15%;
}
#content{
   /* background-color: lightgoldenrodyellow; */
    flex-basis: 85%;
    text-align: center;
}

footer{
    background-color: gray;
    padding-top: 25px;
    height: 10%;
    min-height: 50px;
}

.m{
    border-style: solid;
    width: calc(100% * (1/4) - 10px - 1px)
}
div.m:hover{
    background-color: blue;
}
.kalender{  
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
}

a.navigation-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}


























/* Dropdown Button */
.dropbtn {
    position: relative;
    min-width: 167px;
}
/*
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}*/

/* The container <div> - needed to position the dropdown content */
#dropdown {
    position: relative;
    
    /*display: inline-block;*/
}
#dropdown2 {
    position: relative;
    
    /*display: inline-block;*/
}
#dropdown3 {
    position: relative;
    
    /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    text-align: left;
    width: 15%;
    background-color: #f1f1f1;
    min-width: 159px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}
.dropdown-content2 { 
    text-align: left;
    width: 15%;
    background-color: #f1f1f1;
    min-width: 159px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}
.dropdown-content3 {
    text-align: left;
    width: 15%;
    background-color: #f1f1f1;
    min-width: 159px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
#dropdown:hover .dropdown-content   {display: block;}
#dropdown2:hover .dropdown-content   {display: block;}
#dropdown3:hover .dropdown-content   {display: block;}


/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: #3e8e41;}*/

