body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    border-spacing: 0px;
    /* overflow: hidden; */
} /* Standard verdana skrifttype og textstørrelse 13 på hele kalenderen */

 .ugedag, .ugedagsliste {
    border: 1px solid black;
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
    margin-right: 0px;
    height: 22px;
    position: relative;
} /* #kalender-body, .ugedag og .ugedagliste får samme border farve */

    /* kalender */

#helekalender, #kalender-body {
    border: 0px solid black;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: initial;
}
    /* år */
    
#årstal {
    margin: 0px;
    font-size: 25px;
    text-align: center;
}

#fm1, #fm2, #fm3 {
    display: inline-flex;
}

    /* måned */

.header {
    margin: 0px;
}

.månedDivC {
    height: auto;
    margin: 0px -1px -1px 0px;
    padding: 3px;
    border: 0.1px solid;
}
/*    
#månedDiv4, #månedDiv8, #månedDiv12 {
    border-left-width: 0px;
    den venstre side på den sidste måned i et kvartal har valgt at være 2 pixels bred i stedet for 1, derfor fjerner vi 1 pixel
}
*/

    /* uge */

.eventAll1 {
    background-color: rgba(128, 255, 215, 1);
    font-size: 12px;
    border-radius: 3px;
}

.eventAll2 {
    background-color: rgba(129, 218, 235, 1);
    font-size: 12px;
    border-radius: 3px;
}

.eventAll3 {
    background-color: rgb(139, 185, 255, 1);
    font-size: 12px;
    border-radius: 3px;
}

.eventAll4 {
    background-color: rgb(136, 131, 235, 1);
    font-size: 12px;
    border-radius: 3px;
}

.eventAll0 {
    background-color: rgb(180, 66, 255, 1);
    font-size: 12px;
    border-radius: 3px;
}

.eventAll1:hover {
    transition: 0.4s;
    background-color: rgba(128, 255, 215, 0.6);
}

.eventAll2:hover {
    background-color: rgba(129, 218, 235, 0.6);
    transition: 0.4s;
}

.eventAll3:hover {
    background-color: rgb(139, 185, 255, 0.6);
    transition: 0.4s;
}

.eventAll4:hover {
    background-color: rgb(136, 131, 235, 0.6);
    transition: 0.4s;
}

.eventAll0:hover {
    background-color: rgb(180, 66, 255, 0.6);
    transition: 0.4s;
}

.ugeCSS {
    position: absolute;
    min-height: auto;
}

.ugeData, .dagbox {
    position: relative;
}

.eventLinjeBody {
    height: 0px;
    border-spacing: initial;
}

    /* enkelt dag */

.hasEvent {
    cursor: pointer;
    background-color: rgb(127, 255, 238);
}

.dage, .tomdag, .dageTop {
    padding: 0;
}

.dageTop:hover {
    transition: 0.4s;
    border-radius: 3px;
    background-color: lightgray;
}

.eventLinje {
    --e: 100%;

    width: 100%;
    position: absolute;
    margin: 0px 3px 0px 3px
}

.eventOneDay {
    width: calc(var(--a) - 1px);
}
.eventTwoDay {
    width: calc(var(--a) * 2);
}
.eventThreeDay {
    width: calc(var(--a) * 3 - 2px);        
}
.eventFourDay {
    width: calc(var(--a) * 4 - 3px);        
}
.eventFiveDay {
    width: calc(var(--a) * 5);
}
    
.dageTop {
    font-size: 12px;
    text-align: right;
}

.dagbox {
    border: 1px solid darkgray;
    margin-right: -1px;
    margin-bottom: -2px;
}

.dage {
    height: 5px;  
    border-top: 0px;
    text-align: left;
}

.dag, .dagbox, .ugedag, .tomdag, .månedDivC {
    display: inline-block;
}
 
.dag {
    text-align: right; 
    padding-top: 1px;
    margin-right: 1px;
}

.ugedag {
    border-left-width: 0px;
}

.ugedag:nth-child(1) {
    border-left-width: 1px;
} /* gaffa tape til dårlig css
     i det mindste ser det pænt ud-agtig
     altså hjemmesiden, ikke koden */

.tomdag {
    height: 2px;
    margin: 0px;
    float: left;
}

.hide {
    display: none;
}

.tomx5, #tomx5, .weekend {
    display: none;
}  /* fjerner rækken med ID'en tomx5 fordi en linje i starten af ugen ser ikke så pænt ud.*/

.hideWeek {
    display: none;
    height: 0px;
}

/* 720p */
@media only screen and (min-width: 920px) and (max-width: 1281px) {
    /* kalender */

    #helekalender, #kalender-body, body {
        margin: 0px;
        padding: 0px;
    }

    /* år */

    #årstal {
        font-size: 14px;
        margin-top: 2px;
        padding-left: 5px;
    }

    /* måned */

    .månedDivC {
        width: 221px;
    }

    #månedDiv3, #månedDiv7, #månedDiv11{
        padding-right: 2px;
    }

    .header {
        font-size: 14px;
    }

    /* uge */

    .ugeData, .ugeCSS {
        height: 26px;
        width: 100%;
    }

    .datoVisning {
        width: 100%;
    }

    /* enkelt dag */

    .ugedag, .dagbox, th.tomdag {
        width: 43px;
    }

    .ugedag {
        height: 20px;
    }

    .dageTop {
        width: 44px;
        height: 10px; 
    }

    .dagbox {
        height: 25px;
    }

    .række, .datoVisning, .række thead {
        height: 10px;
        border-spacing: 0px;
    }

    .tomdag {
        width: 44px;
    }

    .dage, .dageTop {
        top: 0;
        font-size: 10px;
    }

    .dageTop {
        border-spacing: 0px;
    }

    .dage {
        height: 11px;
        width: 44px;
        font-size: 8px;
    }

    :root {
        --a: 43px;
    }
    
    .eventOneDay {
        width: calc(var(--a) - 4px);
    }
    .eventTwoDay {
        width: calc(var(--a) * 2);
    }
    .eventThreeDay {
        width: calc(var(--a) * 3);        
    }
    .eventFourDay {
        width: calc(var(--a) * 4 - 1px);        
    }
    .eventFiveDay {
        width: calc(var(--a) * 5);
    }
}

/* 768p */
@media only screen and (min-width: 1282px) and (max-width: 1367px) {
    /* kalender */

    #helekalender, #kalender-body, body {
        margin: 0px;
        padding: 0px;
    }

    /* år */

    #årstal {
        font-size: 14px;
        margin-top: 2px;
        padding-left: 5px;
    }

    /* måned */

    .månedDivC {
        width: 241px;
    }

    #månedDiv3, #månedDiv7, #månedDiv11{
        padding-right: 2px;
    }

    .header {
        font-size: 14px;
    }    

    /* uge */

    .ugeData, .ugeCSS {
        height: 32px;
    }

    /* enkelt dag */

    .ugedag, .dagbox, th.tomdag {
        width: 47px;
    }

    .ugedag {
        height: 20px;
    }

    .dageTop {
        height: 10px; 
        width: 46px;
    }

    .dagbox {
        height: 31px;
    }

    .række, .datoVisning, .række thead {
        height: 10px;
    }

    .tomdag {
        width: 48px;
    }

    .dage, .dageTop {
        top: 0;
        font-size: 11px;
    }

    .dage {
        height: 12px;
        width: 48px;
        font-size: 9px;
    }

    /* Events */

    :root {
        --a: 48px;
    }

    .eventLinje {
        margin: 0px 1px 0px 1px;
    }
    
    .eventOneDay {
        width: calc(var(--a) - 4px);
    }
    .eventTwoDay {
        width: calc(var(--a) * 2 - 3px);
    }
    .eventThreeDay {
        width: calc(var(--a) * 3 - 3px);        
    }
    .eventFourDay {
        width: calc(var(--a) * 4 - 4px);        
    }
    .eventFiveDay {
        width: calc(var(--a) * 5 - 4px);
    }
}

/* 900p */
@media only screen and (min-width: 1368px) and (max-width: 1601px) {
    /* kalender */

    #helekalender, #kalender-body, body {
        margin: 0px;
        margin-right: 1px;
        padding: 0px;
    }

    /* knapper */

    .knapper {
        margin-top: 2px;
        margin-left: 2px; 
    }

    /* år */

    #årstal {
        font-size: 20px;
    }

    /* måned */

    .månedDivC {
        width: 286px;
    }

    #månedDiv3, #månedDiv7, #månedDiv11{
        padding-right: 2px;
    }

    #månedDiv4, #månedDiv8, #månedDiv12{
        border-left: 0px;
    }

    /* uge */

    .ugeData, .ugeCSS {
        height: 36px;
        width: 290px;
    }

    .ugeCSS, .dagbox {
        float: left;
    }

    .eventLinje {
        width: calc(var(--e) - 6px)
    }

    /* enkelt dag */

    .ugedag, .dagbox, th.tomdag {
        width: 56px;
    }

    .ugedag {
        height: 21px;
    }

    .dageTop {
        height: 15px; 
        width: 54px;
        padding-right: 1px;
    }

    .dagbox {
        height: 35px;
    }

    .række, .datoVisning {
        height: 10px;
    }

    .tomdag {
        width: 57px;
    }

    .dage {
        height: 15px;
        font-size: 11px;
        width: 57px;
    }

    td.tomdag {
        width: 57px;
    }

    /* Events */

    :root {
        --a: 57px;
    }

    .eventLinje {
        margin: 0px 1px 0px 1px;
    }
    
    .eventOneDay {
        width: calc(var(--a) - 4px);
    }
    .eventTwoDay {
        width: calc(var(--a) * 2 - 5px);
    }
    .eventThreeDay {
        width: calc(var(--a) * 3 - 5px);        
    }
    .eventFourDay {
        width: calc(var(--a) * 4 - 5px);        
    }
    .eventFiveDay {
        width: calc(var(--a) * 5 - 5px);
    }
}

/* 1080p standard skærm */
@media only screen and (min-width: 1602px) and (max-width: 1921px) {

    #kalender-body {
        margin: 0px 0px 0px 0px;
    }

    /* måned */

    .månedDivC {
        width: 349px;
        padding: 2px 3px 4px 3px;
        /*height: 268px;*/
    }

    #fm1, #fm2, #fm3 {
        margin: 0px 1px 0px 0px;
    }

    /* uge */

    .ugeData, .ugeCSS, .række {
        height: 45px;
    }

    .eventLinje {
        width: calc(var(--e) - 2px)
    }

    /* enkelt dag */

    .ugedag, .dagbox {
        width: 68.6px;
    }

    .ugedag, .dageTop {
        height: 20px;
    }

    .dagbox {
        height: 44px;
    }

    .ugedag {
        width: 68.6px;
        margin: 0px;
        padding: 0px;
    }

    .tomdag {
        width: 69.6px;
    }

    th.tomdag {
        width: 69px;
    }

    .dage {
        height: 17px;
        width: 70px;
        border-spacing: 0px;
    }

    .datoVisning {
        height: 15px;
    }

    .dageTop {
        padding: 0px 1px 0px 0px;
        width: 66px;
    }

    /* Events */

    :root {
        --a: 70px;
    }

    .hasEvent {
        width: 69px;
    }

    .eventLinje {
        margin: 0px 1px 0px 1px;
    }
    
    .eventOneDay {
        width: calc(var(--a) - 5px);
    }
    .eventTwoDay {
        width: calc(var(--a) * 2 - 6px);
    }
    .eventThreeDay {
        width: calc(var(--a) * 3 - 6px);        
    }
    .eventFourDay {
        width: calc(var(--a) * 4 - 6px);        
    }
    .eventFiveDay {
        width: calc(var(--a) * 5 - 6px);
    }
}


/* 1440p fordi hvorfor ikke */
@media only screen and (min-width: 1922px) and (max-width: 8000px) {
    .månedDivC {
        width: 463px;
        padding-right: 1px;
    }

    /* uge */

    .ugeData, .ugeCSS, .række {
        height: 45px;
    }

    /* enkelt dag */

    .ugedag, .dagbox {
        width: 91px;
    }

    .ugedag, .dageTop {
        height: 22px;
    }

    .dagbox {
        height: 44px;
    }

    .tomdag {
        width: 92px;
    }

    .dage, .dageTop {
        width: 89px;
    }

    .dageTop {
        padding: 0px 1px 0px 0px;
    }

        /* Events */

    .eventOneDay {
        width: 67px;
    }
    .eventTwoDay {
        width: 134px;
    }
    .eventThreeDay {
        width: 201px;
    }
    .eventFourDay {
        width: 268px;
    }
    .eventFiveDay {
        width: 335px;
    }
}