body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.kalenderindhold, .ugedag, .ugedagsliste {
    border: 2px solid rgb(136, 136, 136);
    border-radius: 3px;
}

tr {
    width: 0px;
    height: 0px;
}

.dag, .ugedag, .dagbox {
    display: inline-block;
    width: 52px;
    height: 36px;
}

.dagbox {
    position: absolute;
    border: 2px solid lightgray;    
    border-radius: 3px;
    z-index: 1;
}

.dag {
    position: relative;
    text-align: right;
    z-index: 2;
    margin-right: 4px;
    margin-bottom: 2px;
}

.ugedag, .ugedagsliste {
    height: 22px;
    width: 51px;
    margin-right: 1px;
}
.ugedagsliste {
    text-align: center;
    font-weight: bold;
}

td.tomdag {
    display: inline-block;
    width: 56px;
    height: 1px;
}

#tomx5 {
    display: none;
}