 /*  */ /* <--- nem måde at copy paste kommentarer fordi jeg er doven */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
} /* Standard verdana skrifttype og textstørrelse 13 på hele kalenderen */

#kalender-body, .ugedag, .ugedagsliste {
    border: 1px solid black;
} /* #kalender-body, .ugedag og .ugedagliste får samme border farve */

.dagbox {
    position: absolute;
    border: 1px solid darkgray;    
}

.dag, .dagbox, .ugedag, .tomdag, .månedDivC {
    display: inline-block;
}

.dagbox, .ugedag, .ugedagsliste, #kalender-body  {
    border-radius: 0px;
}

.dag, .dagbox, .ugedag, .tomdag  {
    width: 56px;
}

.dag, .tomdag {
    margin-right: 2px;
}

.dag, .dagbox {
    height: 36px;
}

.ugedag, .ugedagsliste {
    text-align: center;
    font-weight: bold;
    margin-right: 0px;
    height: 22px;
    position: relative;
} 
 
.dag {
    text-align: right; 
}

#tomx5, .weekend {
    display: none;
}  /* fjerner rækken med ID'en tomx5 fordi den er irriterende at kigge på og jeg hader den.
      fordi vi ikke gider at kigge på en hel tom linje bare fordi måneden starter i weekenden. 
      dette er et problem fordi hele ugen er nødt til at blive genereret (inklusiv weekenden!), men vi har valgt ikke at vise lørdag og søndag da der er ikke er undervisning i weekenden
      medmindre du er ond*/

/*ik' dræb mig*/
#monthAndYear1, #monthAndYear2, #monthAndYear3, #monthAndYear4, #monthAndYear5, #monthAndYear6, #monthAndYear7, #monthAndYear8, #monthAndYear9, #monthAndYear10, #monthAndYear11, #monthAndYear12 {
    margin: 0px;
    margin-top: 5px;
}

#helekalender, #kalender-body {
    width: min-content;
    height: auto;
}

#kalender-body {
    padding: 5px;
    padding-left: 8px;
    padding-right: 0px;
}

.månedDivC {
    height: 254px;
    width: 300px;
}

#fm1, #fm2, #fm3 {
    display: inline-flex;
}

#månedDiv4 {
    width: 290px;
}