body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kalenderindhold, tr, .ugedag, .ugedage {
    border: 2px solid rgb(136, 136, 136);
    border-radius: 3px;
}

.dag {
    border: 1px solid lightgray;
}

.dag, .ugedag {
    width: 50px;
    height: 35px;
}

.ugedag {
    height: 25px;
}
