

fieldset {
    font-size: 18px;
    height: auto;
    width: 90%;
    padding: 15px 15px 15px 15px;
}

h1{
    text-align: center;
    padding-top: 70px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex1{
    display: flex;
    flex-direction: row;
}
#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 5px;
}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(47, 0, 255);
    color: white;
}
#knap{
    padding-top: 7px;
    text-align: center;
}




/* laver modal*/
.modal, .modal1, .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 25%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#tekst{
    padding-top: 10px;
    width: 75%;
}
#box{
    padding-top: 3px
}

.box{
    text-align: center;
}
input{
    float: right;
}

#gem, #gem1, #slet{
    float: right;
}
